<div class="container header__container">
  <a class="logo__link" href="/#/">
    <div class="logo">
      <p class="logo__round logo__round_left">O</p>
      <div class="logo__title"><span class="text_color"> Art </span>Quiz</div>
      <p class="logo__round logo__round_right">O</p>
    </div>
  </a>
  <a class="nav__link nav__settings settings_close icon" href="/#/">
    <div class="nav__text">Settings</div>
  </a>
  <nav class="nav" role="navigation" aria-label="main navigation">
    <ul class="nav__list">
      <li class="nav__item nav__home icon"><a class="nav__link" href="/#/"> Home </a></li>
      <li class="nav__item nav__categories icon">
        <a class="nav__link" href="/#/categories"> Categories </a>
      </li>
      <li class="nav__item nav__score icon"><a class="nav__link" href="/#/score"> Score </a></li>
    </ul>
    <a class="settings__button settings__link" href="/#/settings">
      <div class="settings__icon icon"></div>
    </a>
    <a class="settings__button settings__close settings_close" href="/#/">
      <div class="close__button"></div>
    </a>
  </nav>
</div>
