@mixin flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin icon-background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// @mixin none-select {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

@mixin trans-slow {
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

@mixin trans-medium {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

@mixin trans-fast {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

@mixin for-tablet-up {
  @media (max-width: 980px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-tablet-down {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin for-phone-up {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 520px) {
    @content;
  }
}
