.error {
  width: 100%;
  min-height: $main-height;
  @include flex-center;
  @include for-tablet {
    min-height: $main-height-tablet;
  }
  @include for-phone-up {
    min-height: $main-height-phone;
  }
}

.error__text {
  font-size: 1.7rem;
  text-transform: uppercase;
  opacity: 0.8;
  @include for-tablet {
    font-size: 1.3rem;
    opacity: 0.9;
  }
  &:hover {
    opacity: 1;
  }
}
